@font-face {
  font-family: "steamwreck";
  src: url("../fonts/Steamwreck/Steamwreck.otf");
}
@font-face {
  font-family: "steamwreck-bold";
  src: url("../fonts/Steamwreck/Steamwreck\ Bold.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, steamwreck, Poppins, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-layout-wrapper {
  background: linear-gradient(252.82deg, #313131 0.54%, #0b0b0b 99.99%);
}
/* #FFC75B, #956B1B */
.gradient-font {
  background: linear-gradient(188.06deg, #ffc75b 16.11%, #956b1b 111.01%),
    linear-gradient(181.25deg, #55adff 1.07%, #3b54ab 118.83%),
    linear-gradient(170.48deg, #e2be62 7.18%, #977214 127.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.polygon {
  width: 230px;

  position: absolute;
  transition: all 1s;
  /* transform: tras; */
}

@media screen and (min-width: 768px) {
  .polygon {
    width: 23%;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  padding: 30px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
